<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <!-- TestHelloServlet -->
    <servlet>
        <servlet-name>ServletwithDBConnection</servlet-name>
        <servlet-class>myServletPackage.ServletwithDBConnection</servlet-class>
        <init-param>
            <param-name>log4j-init-file</param-name>
            <param-value>WEB-INF/log4j.properties</param-value>
        </init-param>
    </servlet>
    <!-- Session configuration Details -->
    <servlet>
        <servlet-name>HelloWebServlet</servlet-name>
        <servlet-class>myServletPackage.HelloWebServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>ServletwithDBConnection</servlet-name>
        <url-pattern>/testJDBCQuery</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>HelloWebServlet</servlet-name>
        <url-pattern>/Hello</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
    <resource-ref>
        <description>connects to the database - mytestschema from this application</description>
        <res-ref-name>jdbc/myTestDataSource</res-ref-name>
        <res-type>javax.sql.ConnectionPoolDataSource</res-type>
        <res-auth>Container</res-auth>
        <res-sharing-scope>Shareable</res-sharing-scope>
    </resource-ref>
</web-app>
